@page
@model             RegisterSuccessModel
@{
}

<p>
    <h3>User Registration Success</h3>
</p>
<div class="container border" style="padding:20px">
        <h5>User is Registred successfully. Check database.</h5>
    <h5>Also an email is sent, so please click the link in that email to validate the email address.</h5>
</div>
